{% extends "main.html" %} {% load static %} {% block main %}
<div class="row justify-content-center">
  <div class="col mt-5">
    <div class="card mb-3" style="max-width: 540px">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src={% static "img/firedevs.png" %} alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h1 class="card-title">FIREDEVS ASSEMENT</h1>
            <p class="card-text">
              <small class="text-muted">By nelvispr90@gmail.com</small>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
