{% extends "main.html" %} {% block main %}

<div class="row justify-content-center">
  <div class="col-auto">
    <div class="row mt-2">
      <div class="col-md">
        <div class="alert alert-{% if message %}{{message.type}}{% endif %} alert-dismissible fade {% if message %} show {% endif %}" role="alert">
            <strong>{{message.head}}</strong> {{message.text}}
          
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </div>
    </div>
    <form class="card px-2 py-2" action={% url "student_edit" id %} method="POST" novalidate>
      {% csrf_token %}
      <div class="form-row">
        <div class="form-group col-md mb-2">
          <label for="id_name">Name</label> {{form.name}}
              {{form.name.errors}}
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-2 mb-2">
          <label for="id_age">Age</label> {{form.age}}
             {{form.age.errors}}
        </div>
        <div class="form-group col-md-3 mb-2">
          <label for="id_gender">Gender</label> {{form.gender}}
             {{form.gender.errors}}
        </div>
        <div class="form-group col-md-7 mb-2">
          <label for="id_email">Email</label> {{form.email}}
             {{form.email.errors}}
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-4 mb-2">
          <label for="id_city">City Address</label>
          {{form.city}}
            {{form.city.errors}}
        </div>
        <div class="form-group col-md-5 mb-2">
          <label for="id_birth_date">Birthday Date</label>
          {{form.birth_date}}
            {{form.birth_date.errors}}
        </div>
        <div class="form-group col-md-3 mb-2">
          <label for="id_group">Group</label> {{form.group}}
            {{form.group.errors}}
        </div>
      </div>
      <div class="row">
        <div class="col">
          <input class="btn btn-success" type="submit" value="Update" />
          <a class="btn btn-primary" href={% url "student_new" %}>New</a>
        </div>
      </div>
    </form>
  </div>
  <div class="col-auto mt-2">
    {% include 'audit/action_list.html' %}
  </div>
</div>
<style type="text/css">
  ul.errorlist {
    margin: 0;
    padding: 0;
  }
  .errorlist li {
      display: block;
      width: 100%;
      margin-top: 0.25rem;
      font-size: 80%;
      color: #dc3545;
  }    
</style>
{% endblock %}
